html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://pbs.twimg.com/media/D45CDX2U0AAMvfO?format=jpg&name=medium");
}

form {
  padding: 20px;
  margin-top: 20px;
}
